<h1 class="heading">Our Story</h1>

<div class="about__container">
	<p>
		Philadelphia Wild Tours started as two good friends experiencing the great outdoors in and around the Philadelphia area back in 2012. We started bringing along friends of friends on biking, hiking and kayaking trips. Nature made its impression, and word quickly spread -- we now employ 4 of our own handpicked tour guides. 
	</p>
</div>
