<div class="blur" id="blur"></div>
<div class="modal-container" id="modal-container">
	<div class="galleryDiv" id="galleryDiv"></div>
	<p class="caption" id="caption"></p>
</div>

<h1 class="heading main-heading">Into the Wild</h1>
<h2 class="heading sub-heading">Exploring a Different Side of Philadelphia</h2>

<div class="container-top activity-container">
	<div class="container-left">
		<div class="gallery" id="gallery1"></div>
	</div>
	<div class="container-right">
		<p class="activity-text">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
</div>

<div class="container-middle activity-container">
	<div class="container-left">
		<div class="gallery" id="gallery2"></div>
	</div>
	<div class="container-right">
		<p class="activity-text">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
</div>

<div class="container-bottom activity-container">
	<div class="container-left">
		<div class="gallery" id="gallery3"></div>
	</div>
	<div class="container-right">
		<p class="activity-text">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
</div>

<script type="text/javascript" src="/scripts/gallery.js"></script>