<div class="contact-form__container">

	<div class="contact-form__overlay">
		<div class="contact-form__get-in-contact-msg">
			Get in touch! Let us know what you're interested in doing with us, and where you'd like to go.
		</div>
		<form id="contact-form" method="post" action="/email-form">

			<div class="contact-form__input">
				<input type="text" name="name" placeholder="First name">
			</div>
			<div class="contact-form__input">
				<input type="text" name="email" placeholder="Email address">
			</div>
			<div class="contact-form__input">
				<textarea class="contact-form__textarea" name="message" form="contact-form" placeholder="Type your message here"></textarea>
			</div>
			<input type="submit" value="Send" class="contact-form__submit-btn">
		</form>
	</div>
</div>
