<div class="contact-form__container">
	<form id="contact-form" method="" action="">
		
		<div class="contact-form__input">
			<input type="text" name="name" placeholder="First name">
		</div>
		<div class="contact-form__input">
			<input type="text" name="email" placeholder="Email address">
		</div>
		<div class="contact-form__input">
			<textarea class="contact-form__textarea" name="message" form="contact-form" placeholder="Type your message here"></textarea>
		</div>
		<input type="submit" value="Send" class="contact-form__submit-btn">		
	</form>
</div>