
<h1 class="home-header">Philadelphia Wild Tours</h1>

<div class="home-carousel__container">
	<div class="home-carousel__active-image">
	
		<div class="home-carousel__arrow home-carousel__arrow-left"></div>
		<div class="home-carousel__arrow home-carousel__arrow-right"></div>
		
		<div class="home-carousel__tile-nav"></div>

	</div>

</div>

<script type="text/javascript" src="/scripts/home-carousel.js"></script>