<div class="home-carousel__container">
	<div class="home-carousel__active-image">
	
		<div class="home-carousel__left-arrow"></div>
		<div class="home-carousel__right-arrow"></div>
		

	</div>

</div>

<script type="text/javascript" src="/scripts/home-carousel.js"></script>