<h1>My website</h1>
<nav>
  <ul>
    <li>home</li>
    <li>about</li>
    <li>Contact</li>
  </ul>
</nav>
<div class="main-container">
  <%=yield %>
</div>
<footer>
<div class="footer">

</div>

</footer>
