<<<<<<< HEAD
<h1>My website</h1>
<nav>
  <ul>
    <li>home</li>
    <li>about</li>
    <li>Contact</li>
  </ul>
</nav>
<div class="main-container">
  <%=yield %>
</div>
<footer>
<div class="footer">

</div>

</footer>
=======
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">	
</head>
<body>

<%= yield %>

</body>
</html>
>>>>>>> d72fa70f54e3525b3e87a4d1f830f94f4d2acc26
