<!-- # views/layout.erb -->
<html>
  <head>
    <title>My Page</title>
  </head>
  <body>
    <div id='header'>
      <nav>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/gallery">Activities</a></li>
          <li>Activities</li>
        </ul>
      </nav>
    </div>
    <div id='main'>
      <%= yield %>
    </div>
  </body>
</html>
