.home-carousel__container {
	clear: both;
	margin: 0 auto;
	width: 90%;
	max-width: 800px;
	height: 500px;
}

.home-carousel__active-image {
	width: 100%;
	height: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.home-carousel__arrow {
	position: absolute;
	top: 50%;
	min-width: 20px;
	min-height: 20px;
	width: 4vw;
	height: 4vw;
	max-width: 40px;
	max-height: 40px;
	background-position: center;
	background-size: contain;
	transform: translate(0, -50%);
	transition: all 0.15s ease-out;

	&:hover {
		transform: scale(1.5, 1.5) translate(0, -25%);
	}
}

.home-carousel__arrow-right {
	right: 0;
	background-image: url('/assets/images/home-carousel/right_arrow_blue.svg');
}

.home-carousel__arrow-left {
	left: 0;
	background-image: url('/assets/images/home-carousel/left_arrow_blue.svg');
}

.home-carousel__tile-nav {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	justify-content: center;
}

.home-carousel__nav-tile {
	min-width: 20px;
	min-height: 20px;
	width: 3vw;
	height: 3vw;
	max-width: 30px;
	max-height: 30px;
	margin: 5px;
	opacity: 0.5;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('/assets/images/home-carousel/grey_rounded_square.svg');
	transition: all 0.15s;

	&:hover {
		opacity: 0.9;
		transform: scale(1.1, 1.1);
	}
}

.home-carousel__nav-tile--active {
	opacity: 0.9;
	transform: scale(1.1, 1.1);
}