.home-carousel__container {
	margin: 20px auto;
	width: 90%;
	max-width: 800px;
	height: 400px;
}

.home-carousel__active-image {
	width: 100%;
	height: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.home-carousel__arrow {
	position: absolute;
	top: 50%;
	width: $home-carousel__arrow-size;
	height: $home-carousel__arrow-size;
	background-position: center;
	background-size: contain;
	transform: translate(0, -50%);
	transition: all 0.15s ease-out;

	&:hover {
		transform: scale(1.5, 1.5) translate(0, -25%);
	}
}

.home-carousel__arrow-right {
	right: 0;
	background-image: url('/assets/images/home-carousel/right_arrow_blue.svg');
}

.home-carousel__arrow-left {
	left: 0;
	background-image: url('/assets/images/home-carousel/left_arrow_blue.svg');
}