.home-header {
	clear: right;
	text-align: center;
	margin: 0 0 5px 0;
	padding: 0;
	color: #e0e0e0;
	font-size: 2.8em;
	font-family: 'Poppins', sans-serif;
	transition: color 0.3s ease-in-out;

	&:hover {
		cursor: default;
		color: salmon;
	}
}