.container-left {
	width: 30%;
	margin: 30px;
}

.container-right {
	width: 70%;
	padding: 40px;
}

.activity-container {
	display: flex;
	justify-content: space-around;
}

.gallery {
	width: 300px;
	max-width: 100%;
	height: 300px;
	max-height: 100%;
	border: 3px solid white;
	border-radius: 10px;
	margin: 0 auto;
	background-size: cover;
	background-position: bottom;
}

.activity-text {
	font-size: 1.1em;
	text-align: left;
}

.gallery1 {
	background-image: url('/assets/images/hiking/Wissihickon.jpg');
}

.gallery2 {
	background-image: url('/assets/images/biking/cycling.jpg');
}

.gallery3 {
	background-image: url('/assets/images/kayaking/ben_franklin.jpg');
}

// -------Media Queries-------

@media all and (min-width: 360px) and (max-width:500px) {
	
	.activity-container {
		display: block;
	}
	.container-right {
		width: 100%;
		margin: 0 auto;
	}
	.container-left {
		width: 100%;
		margin: 0 auto;
	}
	.activity-text {
		text-align: center;
		font-size: 0.8em;
	}
}













