.active{
  background-color: $active-color;
  color: $font-color;
}
.nav-bar{
  list-style-type: none;
   margin: 0;
   padding: 0;
}
.hamburger{
  display: none;
}
.nav-item{
  float: right;
  margin-left: $nav-item-margin;
  display: inline;
  a {
    text-decoration: none;
    &:hover {
      background-color: $nav-hover-color;
      color: $font-color;
    }
  }
}
/* Extra Wide Desktops*/
@media all and (min-width: 1200px) {

}

/* Tablets and small desktop */
@media all and (min-width: 768px) and (max-width: 979px) {

}

/* Phone in landscape mode, small tablet */
@media all and (max-width: 767px) {

}

/* Smaller Phone, phone in portrait mode */
@media all and (max-width: 480px) {
  .nav-item{
    display: none;
  }
  .hamburger{
    display: block;
    float: right;
  }
}
