
/* Extra Wide Desktops*/
@media all and (min-width: 1200px) {

}

/* Tablets and small desktop */
@media all and (min-width: 768px) and (max-width: 979px) {

}

/* Phone in landscape mode, small tablet */
@media all and (max-width: 767px) {

}

/* Smaller Phone, phone in portrait mode */
@media all and (max-width: 480px) {
  .nav-item{
    display: none;
  }
  .hamburger{
    display: inline;
    float: right;
    // max-height: $hamburger-height;
    max-width: $hamburger-width;
  }

  .home-carousel__active-image {
  	background-position: right;
  }
}
