.active{
  background-color: $active-color;
  color: $font-color;
}
.nav-bar{
  list-style-type: none;
   margin: 0;
   padding: 0;
}
.hamburger{
  display: none;
}
.nav-item{
  float: right;
  margin-left: $nav-item-margin;
  display: inline;

  a {
    text-decoration: none;
    color: $default-link-color;
    &:hover {
      background-color: $nav-hover-color;
      color: $font-color;
    }
  }
}
.hamburger-move-content{
  animation: maincontent 2s;
  margin: 0;
  right:25%;
  position: fixed;
  top: 60px;

}

.hamburger-show-menu{

animation:menu 2s;

margin: 0;
   padding: 0;
   width: 25%;
   position: fixed;
   height: 100%;
   overflow: auto;
   right: 5px;
   float: none;
   text-align: right;


  .nav-total{
  height: 42.5px;}

  .nav-bar{
    top: 10%;
  }

  .hamburger{
    max-width: 40%;
    max-height: 20%;
  }

  .nav-item{
    float:none;
    margin-top: $vertical-menu-top-margin;
    font-size: 1.5rem;
  }
}


.hamburger-show-nav-item{
  display: block;
}
