.active{
  background-color: $active-color;
  color: $font-color;
}
.nav-bar{
  list-style-type: none;
   margin: 0;
   padding: 0;
}
.hamburger{
  display: none;
}
.nav-item{
  float: right;
  margin-left: $nav-item-margin;
  display: inline;

  a {
    text-decoration: none;
    color: $default-link-color;
    &:hover {
      background-color: $nav-hover-color;
      color: $font-color;
    }
  }
}
.hamburger-move-content{
  margin: 0;
  right:25%;
  position: fixed;
  top: 60px;
}

.hamburger-show-menu{
  .nav-total{
  height: 42.5px;}
  margin: 0;
  padding: 0;
  width: 25%;
  position: fixed;
  height: 100%;
  overflow: auto;
  right: 0;
  float: none;
  text-align: right;
  .nav-bar{
    top: 10%;
  }
  .hamburger{
    max-width: 40%;
    max-height: 20%;
  }
  .nav-item{
    float:none;
  }
}


.hamburger-show-nav-item{
  display: block;
}
