@import url('https://fonts.googleapis.com/css?family=Poppins');

$active-color: silver;
$font-color: white;
$nav-hover-color: black;
$nav-item-margin: 10px;
$hamburger-width: 10vw;
// $hamburger-height:
$default-link-color: salmon;
$btn-color: #4286f4;
$vertical-menu-top-margin:30px;
